<div class="container-fluid text-center text-md-left AD">

    <!-- Grid row -->
    <div class="row AC">

      <!-- Grid column -->
      <div class="col-md-2 mt-md-0 py-3 ">

        <!-- Content -->

        <p class="text-light ">Vaccination Services </p>
        <small class="text-light">
            Register Members<br>
Search Vaccination Centers<br>
Book Vaccination Slots<br>
Manage Appointment<br>
Download Certificate
        </small>
          


      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none ">

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 py-3 ">

        <!-- Content -->
        <p class=" text-light ">Platforms</p>
        <small class="text-light">CoWIN International<br>
            Vaccinator<br>
            Department Login<br>
            Verify Certificates<br>
            Vaccination Statistics</small>


      </div>
       <!-- Grid column -->
       <div class="col-md-2 mt-md-0 py-3 ">

        <!-- Content -->
        <p class="text-light">Resources</p>
        <small class="text-light">How To Get Vaccinated<br>
            Dos and Don'ts<br>
            Overview<br>
            API Guidelines<br>
            Grievance Guidelines</small>


      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none ">
       <!-- Grid column -->
       <div class="col-md-3 mt-md-0 py-3 ">

        <!-- Content -->
          <p class="text-light">Support</p>
        <small class="text-light">Frequently Asked Questions<br>
            Certificate Corrections</small>


      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none ">
      <div class="col-md-3 mb-md-0 py-3 ">

        <!-- Content -->
        <p class="text-light">Contact Us</p>
        <small class="text-light">Helpline: +91-11-23978046 (Toll Free - 1075 )<br>

            Technical Helpline: 0120 4473222</small>


      
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->
</div>

  <!-- Copyright -->


<!-- Footer -->

