<!-- <app-header></app-header> -->
<div class="container-fluid" >
    <div class="row">
      <div>
      <img src="../../assets/Img Of Cowin.jpg"  alt="">
      <div class="top-left">
        <h1> <b>CO-GUARD for the World</b></h1><br>
        
      <h5>Launching CoWIN as an open source platform for countries to <br>orchestrate successful vaccination with efficient monitoring with an <br> aim of achieving universal vaccination</h5><br><br>
      <a class="btn btn-link btn-warning btn-outline-info" href="">Know More</a>
    </div>
    </div>
    </div>
  </div>
  
<app-vacination-count></app-vacination-count>
<app-search-vacination></app-search-vacination>
<app-whats-new></app-whats-new>
<app-rise-issue></app-rise-issue>
<app-steptovacination></app-steptovacination>
<app-summary-vacination></app-summary-vacination>
<app-our-partner></app-our-partner>
<!-- <app-footer></app-footer> -->
