<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <img src="../../assets/partner-img1.png" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../assets/partner -img2.png" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../assets/partner-img3.png" alt="">
                </div>
                <div class="col-md-2">
                    <img src="../../assets/partner-img4.png" alt="">
                </div>
            </div>
            <div class="row text-center my-3">
                <span>
                <a class="mx-2 " routerLink="register/reg">View More</a>
                <a class="mx-2" routerLink="register/reg">Register As Partner</a>
            </span>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

