<div class="container-fluid mx-5 py-2">
    <div class="row">
        <div class="col-7 ">
           <h1 class=""><b>Rise In Issue</b></h1> 
           <h3 class="">Raise an issue or get solutions to your CoWIN account and<br> vaccination certificate related issues instantly..</h3>
       <br>
           <a class="my-5  py-5  " routerLink="register/reg">Certification Correction</a>
        <a class="my-3 mx-3  py-5 px-5 " routerLink="register/reg">Addition Passport</a><br><br>
        <a class="my-3  " routerLink="register/reg">Report Unknown Number</a>
        <a class="my-3 mx-1  px-5 " routerLink="register/reg">Merge Certificate</a><br><br>
        <a class="my-3 mx-3  px-5 " routerLink="register/reg">Transfer Member To New Member</a>
        </div>
        <div class="col-5">
            <img src="../../assets/Rise.svg" alt="">
        </div>
    </div>
</div>
