<div class="container-fluid ABC">
<div class="row " >
    <div class="col-2"></div>
    <div class="col-8">
      <div class="row">
        <div class="col-6">
        <label><b>Total Vaccination Doses</b></label>
      <input type="number" class="form-control" placeholder="" [value]="default1" >
    </div>
    <div class="col-6">
        <label><b>Vaccinations Done Today</b></label>
      <input type="number" class="form-control" placeholder="" [value]="default2">
    </div>
    </div>
    </div>
    <div class="col-2"></div>
    
  </div>
</div>