<div class="container-fluid my-5 ABC">
    <div class="row">
        <div class="col-4">
          <h1>  <b>What's New <br>On CO-GUARD ?</b></h1>
        </div>
        <div class="col-8 ABC">
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed ABC" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            You can download your vaccination certificate for International Travel
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body ABC">This new feature allows fully vaccinated citizens to update<br> existing photo identity to passport number and date of birth to get<br> International Travel Certificate.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed ABC" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            You can register as a foreign national on CO-Guard and get vaccinated
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body ABC">New feature has been provided for foreign national. You can easily be vaccinated just by providing your basic details. If you have<br> been administered with Dose 1 vaccine in foreign country, you'll have provide it's details to Vaccinator while going for Vaccination.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed ABC" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Citizens can link their passports to Co-Guard issued certificate by raising an issue in their accounts
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body ABC">This is a new feature provided where you can link your passport by entering Passport number. In order to link your passport to the <br>certificate you need to login into your CoWIN portal and then raise an issue to get your passport linked by clicking on "Add Passport Details to my vaccination certificate"</div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed ABC " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Introducing “Raise an Issue” to Co-Guard for all your vaccine certificate and account related issues
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse ABC " aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body ABC">You can now get all your Issues related to your Vaccine Certificate at one place. All you need to do is to login to your Co-Guard portal<br> and click on "Raise an Issue" . Multiple Issue options are provided. You can raise your concerned issues accordingly.s</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header " id="flush-headingThree">
          <button class="accordion-button collapsed  ABC" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Check your eligibility for Dose 2 by signing in on Co-Guard with your registered mobile number
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body ABC ">Citizens administered with dose 1 can now check their eligibility for Dose 2 by performing a single step.
               <br>
            "Login to your Co-GUard portal" and there you have your eligibility mention next to your name, highlighted as "No. of Days left for Dose 2"..</div>
        </div>
      </div>
      </div>
  </div>
  </div>
  


  
